body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    padding-top: 60px;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 95%);
    position: relative;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    min-width: 0;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: clamp(2rem, 10vw, 5rem);
    text-align: left;
    border:none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    overflow-x: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    aspect-ratio: 4/5;
    gap: 10px;
    padding: 25px;
}
button{
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: clamp(1.5rem, 6vw, 3rem);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator{
    background-color: hsl(35, 100%, 53%);

}
.operator:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator:active{
    background-color: hsl(35, 100%, 75%);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem 1rem 1rem 1.5rem;
    text-align: left;
    color: rgba(199, 194, 250, 0.687);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}